*{
    margin: 0;
    padding: 0;
}
body,html{
    height: 100%;
    box-sizing: border-box;
    background-color: bisque;
    overflow-x: hidden;
}

.header{
    width: 100%;
    height: 70px;
 background-color: black;

    position: fixed;
    top: 0;
    z-index: 10;
}
.header img{
    width: 4rem;
    height: 4.2rem;
    margin-top: 2px
}
.main{
    height: 100%;
    margin-top: 70px;
    padding: 10px 50px;
}
#slider{
    height: 200px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    /* background-color: rgb(33, 204, 190); */
    background: #c0392b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #8e44ad, #c0392b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #8e44ad, #c0392b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

    margin-top: 70px;
    /* transform: translate(-200px); */
    transform: translateY(-100%);
    transition: transform 0.2s ease-in-out;
}
#checkbox:checked ~ #slider{
    transform: translate(0);
}
#slider .menu{
    width: 100%;
    height: 100%;
    /* padding: 20px; */
    list-style: none;
}
li{
border-bottom: 1px solid rgba(255, 255, 255, 0.342);
padding: 20px 0;
text-align: center;
}

.menu li a{
    color: wheat;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
}
h1{
    text-align: center;
    text-transform: uppercase;
}

.togglebtn{
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 20;
    /* background-color: black; */
    top: 30px;
    right: 40px;
    transition: all 0.3s;
    cursor: pointer;
}

.line{
    height: 100%;
    height: 3px;
    background-color: blanchedalmond;
    transition: all 0.4s ease-in-out;
}

.line.middle ,
.line.bottom{
    margin-top: 3px;
}

#checkbox:checked ~ .togglebtn> .line.middle{
    opacity: 0;
}

#checkbox:checked ~ .togglebtn> .line.top{
    margin-top: 8px;
    transform: rotate(135deg);
}

#checkbox:checked ~ .togglebtn> .line.bottom{
    margin-top: -8px;
    transform: rotate(-135deg);
}

.container_box{
    background-color: burlywood;
    min-height: 80vh;
    /* min-height: 72vh; */
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 52px;
}
.box1{
    background-color: white;
    border: 1px solid black;
    height: 100%;
    /* position: fixed; */
    width: 40%;
}
.box2{
    background-color: crimson;
    border: 1px solid black;
    height: 100%;
    width: 60%;
    overflow-y:scroll;
    overflow-x: hidden;
}
.bottom_container{
    width: 100%;
    height: 15vh;
    background-color: black;
    position: fixed;
    bottom: 0;
}

@media screen and (max-width:900px){
    .container_box{
        display: flex;
        min-height: 80vh;
        flex-direction: column;
    }
    .box1{
        height: 100%;
        width: 100%;
    }   
    .box2{
        height: 100%;
        width: 100%;
        overflow-y:scroll ;
    }
}

.music_box{
    width: 300px;
    height: 300px;
    background-color: white;
    margin: auto;
    margin-top: 3vw;
    box-shadow: 1px 1px 13px 9px #bbb8b8;

}
#title{
    margin-top: 10px;
}
#artist{
    text-align: center;
    margin-top: 10px;

}

.btn button{
    width: 100px;
    height: 24px;
    background: rgb(73, 219, 93);
    border-radius: 15px;
}
.btn{
    /* margin: auto; */

    display: flex;
    justify-content: center;
    width: 95%;

    padding: 16px;
}
/* .icons {
    margin-top: 0.2rem;
    font-size: 3rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  .progressbar_container{
      width: 100%;
      margin: auto;
      height: 100%;
      color: white;
  }

  .icons{
        display:flex;
        justify-content: center;
    }

    .icons .button{
        margin: 0 10px;
    }
   
    #previous:hover{
        /* background-color: aqua; */
        color: rgb(114, 235, 114);
    }

    #next:hover{
        /* background-color: aqua; */
        color: rgb(114, 235, 114);
    }
    #playing:hover{
        color: rgb(221, 105, 126);
    }
#progressbarbox{
    position: relative;
    height: 5px;
    width: 70%;
    background-color: white;
    margin: auto;
    border-radius: 4rem;
    margin-bottom: 12px;
  transition: all 0.5s ease-out;

  cursor: pointer;
}
#progress{  
    width: 10%;
    height: 100%;
    background-color: blue;
    border-radius: 4rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.5s ease-in-out;
    cursor: pointer;
}
    .time {
        display: flex;
        justify-content: space-between;
        width: 70%;
        /* margin-left: 2.4rem; */
        margin: auto;
        font-family: "Fira Sans", sans-serif;
        font-size: 1.4rem;
        margin-top: 10px;
      }


      .gif{
          width: 100px;
          height: 100px;
          position: fixed;
          left: 0;
          top: 10;
      }

      .gif img{
          width: 100%;
          height: 100%;
      }

      .songitem{
          
    height: 5rem;
    width: 100%;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2rem;
    word-spacing: 4px;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.678);
    /* margin-left: 5px; */
      }

      #title{
            text-transform: uppercase;
            text-shadow: 2px 2px 4px #000000;
            font-weight: 500;
            letter-spacing: 0.2rem;
            word-spacing: 0.5rem;
          }